<!-- @format -->
<%- include("../partials/header.ejs") -%> <%- include("../partials/navbar.ejs")
-%>
<div class="container">
	<div class="row mt-4">
		<div class="col-md-3">
			<img
				src="/images/download.png"
				alt="" />
		</div>
		<div class="col-md-9">
			<h1 class="display-4">Profile</h1>

			<hr />
			<%- include("../partials/flash.ejs") -%>

			<p><% if (user) { %> Welcome .. your email <%= user.email %> <% } %></p>

			<form
				action="/users/uploadAvatar"
				method="post"
				enctype="multipart/form-data">
				<input
					type="file"
					name="avatar"
					id="avatar" />
				<button
					type="submit"
					class="btn btn-primary">
					Upload
				</button>
			</form>
		</div>
	</div>
</div>

<%- include("../partials/footer.ejs") -%>
